<!-- views/partials/navbar.ejs -->
<div class="navbar">
  <div class="navbar-left">
    <span class="navbar-title">Vehicle Management System</span>
    <span class="navbar-subtitle">MERN/Node + EJS Mini Project</span>
  </div>
  <div class="navbar-right">
    <button id="darkModeBtn" class="btn btn-outline">Dark Mode</button>
  </div>
</div>
